#table {
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid black;
  padding: 10px;
}

#table tr {background-color: white;}

#table tr:hover {background-color: skyblue; color: white;}

#table th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: lightseagreen;
  color: white;
}